<div class="modal-header">
    <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Request bearbeiten</h4>
</div>
<div class="modal-body">




    <form name="myForm">
        <div class="form-group">
            <label for="initiator">Initiator</label>
            <input ng-model="request.initiator['username']" type="text" class="form-control" id="initiator" disabled />
        </div>


        <div class="form-group">
            <label for="startDate">Zeitraum</label>
            <input dateformat ng-model="request.startDate" id="startDate" type="text" name="startDate" class="form-control" required />
            bis
            <input dateformat ng-model="request.endDate" id="endDate" type="text" name="endDate" class="form-control" required />
            <script type="text/javascript">
                $(function() {
                    $('input[name="startDate"]').daterangepicker({
                        timePicker: false,
                        format: 'DD.MM.YYYY',
                        singleDatePicker: true
                    });
                });
                $(function() {
                    $('input[name="endDate"]').daterangepicker({
                        timePicker: false,
                        format: 'DD.MM.YYYY',
                        singleDatePicker: true
                    });
                });
            </script>
        </div>

        <div class="form-group">
            <label for="comment">Kommentar</label>
            <textarea ng-model="request.comment" type="text" class="form-control" id="comment"></textarea>
        </div>

    </form>




</div>
<div class="modal-footer">
    <button ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button ng-click="saveModal()" type="button" class="btn btn-primary" ng-disabled="myForm.startDate.$error.required || myForm.endDate.$error.required">Speichern!</button>
</div>
</div><!-- /.modal-content -->