<div ng-controller="events" ng-cloak class="ng-cloak">
<h1>Events</h1>
<h3>Each event corresponds to an encrypted log entry.</h3>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<section>
    <div class="input-group">
        <input type="text" ng-model="search" class="search-query pull-left form-control" placeholder="Suche...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div>
</section>
    <table class="table table-hover" style="table-layout: fixed; width: 100%;">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Id</th>
            <th>Decayed Bits</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page"   >
        <tr  ng-repeat-start="event in events | filter:search | orderBy:'-timestamp'" ng-init="countVariants(event)" >
            <td data-title="'Timestamp'" data-toggle="collapse" data-target="#{{event.id}}" class="accordion-toggle">{{event.timestamp | date:"dd.MM.yyyy H:mm"}}</td>
            <td data-title="'Id'" data-toggle="collapse" data-target="#{{event.id}}" class="accordion-toggle">{{event.id}}</td>
            <td data-title="'DecayedBits'" style="word-wrap: break-word;" data-toggle="collapse" data-target="#{{event.id}}" class="accordion-toggle">{{event.numberOfDecayedBits}} (={{ event.variants }} variants)</td>
            <td data-title="'Actions'">
                <a href="" ng-click="decrypt(event)" class="btn btn-success btn-xs" >Decrypt</a>
                <a href="" ng-click="decay(event)" class="btn btn-warning btn-xs" >Decay</a>
                <a href="" ng-click="recover(event)" class="btn btn-primary btn-xs" >Recover</a>
            </td>
        </tr>
        <tr ng-repeat-end >
            <td colspan="4" class="hiddenRow"><div class="accordion-body collapse" id="{{event.id}}">
                <div class="row">
                    <div class="col-sm-12" style="word-wrap: break-word;"><b>Public Key:</b><p>{{event.pubKey}}</p></div>
                </div>
            </div></td>
        </tr>
        </tbody>
    </table>
</div>
