<div ng-controller="events" ng-cloak class="ng-cloak">
<h1>Events</h1>
<h3>Each event corresponds to an encrypted log entry.</h3>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<section>
    <div class="input-group">
        <input type="text" ng-model="search" class="search-query pull-left form-control" placeholder="Suche...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div>
</section>
    <table class="table table-striped" style="table-layout: fixed; width: 100%;">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Id</th>
            <th>PubKey</th>
            <th>Decayed Bits</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in events | filter:search | orderBy:'timestamp'" ng-init="countVariants(event)">
            <td data-title="'Timestamp'">{{event.timestamp | date:"MM/dd/yyyy 'at' h:mma"}}</td>
            <td data-title="'Id'">{{event.id}}</td>
            <td data-title="'PubKey'" style="word-wrap: break-word;">{{event.pubKey}}</td>
            <td data-title="'DecayedBits'" style="word-wrap: break-word;">{{event.numberOfDecayedBits}} (={{ event.variants }} variants)</td>
            <td data-title="'Actions'">
                <a href="" ng-click="decrypt(event)" class="btn btn-success btn-xs" >Decrypt</a>
                <a href="" ng-click="decay(event)" class="btn btn-warning btn-xs" >Decay</a>
                <a href="" ng-click="recover(event)" class="btn btn-warning btn-xs" >Recover</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
